.card {
 position: relative;
 overflow: hidden;
 border-radius: 15px;
 border: none;
}

.card-overlay {
 position: absolute;
 width: 100%;
 height: 100%;
 text-align: center;
 color: #FFF9F4;
 padding: 20px;
 background-color: rgba(17, 12, 12, 0.858); 
 border-radius: 10px;
 opacity: 0;
 transition: opacity 0.3s ease-in-out;
 display: flex;
 flex-direction: column;
 align-items: center;
 justify-content: center;
}


.card:hover .card-overlay {
 opacity: 1;
}

.card-title,
.card-text {
 margin: 0;
}

.card {
 transition: transform 0.3s ease-in-out; 
}

.card:hover {
 transform: scale(1.05); /* Skala upp kortet lite på hover */
}

.card:hover .card-overlay {
 opacity: 1; /* Visa overlay på hover */
}

.projects-container {
 background-color: #FFF9F4;

}

.projects-container{
 padding-top: 1px;
 padding-bottom: 18px;

}

h1{
 padding-bottom: 20px;
}

.project-link {
 color: #B17F7B;
 text-decoration: none;

}

.project-link:hover {
 text-decoration: underline; 
}


.card-text {
 font-size: 16px; 
}

/* Media query for screens with a width between 1400px and 990px */
@media (max-width: 1400px) and (min-width: 991px) {
 .card-text,
 .project-link {
   font-size: 12px; 
 }
}

/* Media query for screens with a width of 990px or less */
@media (max-width: 990px) {
 .card-text,
 .project-link {
   font-size: 16px; 
 }
}