@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap');

:root {
  --primary-color: #0a1118;
  --bs-body-font-family: 'Montserrat', sans-serif;
}

.hero__background,
.hero__video {
  position: absolute;
  top: 50%;
  left: 50%;
  min-width: 100%;
  min-height: 100%;
  width: auto;
  height: auto;
  transform: translateX(-50%) translateY(-50%);
}

.hero__background {
  background-size: cover; 
}

.hero__overlay {
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  background-color: var(--primary-color);
  opacity: 0.5;
  z-index: 1;
}

.container-custom {
  width: 100%;
  padding: 0 1rem;
  margin: 0 auto;
}

@media (min-width: 1200px) {
  .container-custom { width: 1140px; }
}

@media (min-width: 1400px) {
  .container-custom { width: 1340px; }
}

@media (min-width: 1600px) {
  .container-custom { width: 1520px; }
}


/* App.css */
.black-background {
  background-color: #FFEDE1;
  color: #4D3D71; /* Om du vill att texten ska vara vit på svart bakgrund */
}


/* använda färger 
#FFEDE1;rosa
#4D3D71; lila
#FFF9F4; vit*/
/* #B17F7B header */


